<template>
  <v-app id="inspire">
    <div>
      <v-navigation-drawer
              absolute
              temporary
              class="grey lighten-4"
              app
              v-model="drawer"

      >
        <v-toolbar flat class="transparent">
        </v-toolbar>
        <v-list-tile>
          <v-list-tile-title>Panel bibliotekarza</v-list-tile-title>
        </v-list-tile>
        <v-list
                dense
                class="grey lighten-4"
        >
          <template v-for="(item, i) in items">
            <v-layout
                    row
                    v-if="item.heading"
                    align-center
                    :key="i"
            >
            </v-layout>
            <v-divider
                    dark
                    v-else-if="item.divider"
                    class="my-3"
                    :key="i"
            ></v-divider>
            <v-list-tile
                    :key="i"
                    v-else
                    @click=""
                    :to="item.route"
            >
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="grey--text">
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar
              color="rgb(255, 255, 255, 0.8)"
              height="85px"
              fixed app
              scroll-off-screen
              scroll-target="#scrolling-techniques"

      >
        <v-toolbar-side-icon @click.native="drawer = !drawer"><v-icon>menu</v-icon></v-toolbar-side-icon>
        <v-tabs

                color="transparent"
                height="85px"
                width="80px"
                left
        >
          <v-tabs-slider color="transparent"></v-tabs-slider>
          <v-tab to="/">
            <img
                    :src="require('@/assets/assetLibrary.png')"
                    height="20"
            ></img>
          </v-tab>
        </v-tabs>
        <v-toolbar-items class="hover-show-color1" >
        </v-toolbar-items>

      </v-toolbar>

      <v-content>
        <v-container fluid grid-list-md fill-height min>
          <v-flex md38>
            <router-view ></router-view>
          </v-flex>
        </v-container>
      </v-content>
      <v-footer
              height="auto"
              color="primary lighten-1"
              absolute
              dark
      >

        <v-card
                class="flex"
                flat
                tile
        >


          <v-card-actions class="grey darken-3 justify-center">
              <strong>LibraryManager - Krystian Lipiec</strong>
          </v-card-actions>
        </v-card>

      </v-footer>
    </div>



  </v-app>

</template>


<script>
  import {mapMutations, mapState} from "vuex";
  import axios from 'axios'
  export default {
    data: () => ({
      drawer: null,
      tab: null,
      oferta: [
      ],
      items: [
        { icon: 'group', text: 'Klienci', route: '/clients' },
        { divider: true },
        { icon: 'book', text: 'Ksiazki', route: '/books' }


      ],
      icons: [
        'menu',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ],
      props: {
        source: String
      }
    }),
    computed:{
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },
    created () {
      this.initialize()
    },
    methods: {
      async initialize() {

      },
      click()
      {
        this.add('');
        this.$router.go(0);
      },

    }

  }






</script>

<style >
  #app {
    font-family: 'Arial Black';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  #nav {
    padding: 30px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }
  .active1 {
    border-bottom: 2px solid #00ACC1;
    border-radius: 5px 5px 0 0;

  }
  .active2 {
    border-bottom: 2px solid #B39DDB;
    border-radius: 5px 5px 0 0;

  }
  .active3 {
    border-bottom: 2px solid #FFB74D;
    border-radius: 5px 5px 0 0;

  }
  .active4 {
    border-bottom: 2px solid #F48FB1;
    border-radius: 5px 5px 0 0;

  }

  .btn--content:before {
    background: transparent !important;
  }
  .btn--hidden .btn--content {
  }
  .hover-show-color1:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #00ACC1 !important;
  }
  .hover-show-color2:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #B39DDB !important;
  }
  .hover-show-color3:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #FFB74D !important;
  }
  .hover-show-color4:hover .btn--hidden {
    visibility: visible;
    color: white;
    background: #F48FB1 !important;
  }
  .toolbar{

  }

</style>
