<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Książki</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>

                    <v-dialog v-model="borrowDialog" max-width="400px">
                        <v-card>
                            <v-card-title>
                                <span class="headline"></span>
                            </v-card-title>

                            <v-card-text>
                                <v-select v-model="userItem.id"
                                          :items="selectUser"
                                          label="Wybierz użytkownika"
                                          :placeholder="userItem.id"
                                ></v-select>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn v-if="!userItem.id!==''" color="blue darken-1" flat @click="setBorrow(userItem.id)">Wypożycz</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                            </v-card-actions>

                        </v-card>
                    </v-dialog>


                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Search"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-btn color="green" dark class="mb-2" v-on="on">Dodaj książkę</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12>
                                            <v-textarea height="70" v-model="editedItem.author" label="Autor" outline></v-textarea>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.title" label="Tytuł"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.authorisationDate" label="Rok wydania"></v-text-field>
                                        </v-flex>
                                        <v-flex>
                                        <v-select v-model="editedItem.category"
                                                  :items="selectCategories"
                                                  label="Wybierz kategorie"
                                                  :placeholder="editedItem.category"
                                        ></v-select>
                                    </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.libraryBookId" label="Identyfikator książki"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="books"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.author }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.title }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.authorisationDate }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.category }}</td>
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.libraryBookId}}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.status }}</td>
                        <td class="text-xs-center">
                            <v-btn v-if="props.item.status" @click="borrowBook(props.item)" color="green" dark>Wypożycz książkę
                                <v-icon
                                        medium
                                        color="white"
                                >
                                </v-icon>
                            </v-btn>
                            <v-btn v-else color="red" dark>Wypożycz książkę
                                <v-icon
                                        medium
                                        color="white"
                                >
                                </v-icon>
                            </v-btn>
                            <v-btn v-if="props.item.status" @click="deleteItem(props.item)" color="green" dark>
                            <v-icon
                                    medium
                            >
                                delete
                            </v-icon>
                            </v-btn>
                            <v-btn v-else color="red" dark>
                                <v-icon
                                        medium
                                >
                                    delete
                                </v-icon>
                            </v-btn>

                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="green" @click="initialize">Refresh</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
    </div>
</template>

<script>
    import axios from 'axios'
    import { BASE_URL } from '../../constants';
    import {mapMutations, mapState} from 'vuex'

    export default {
        data: () => ({
            dialog: false,
            borrowDialog: '',
            search: '',
            modal: false,
            selectUser:[],
            selectCategories:[],
            headers: [
                { text: 'Autor', value: 'author' },
                { text: 'Tytuł', value: 'title' },
                { text: 'Data Wydania', value: 'authorisation_date' },
                { text: 'Kategoria', value: 'category' },
                { text: 'Identyfikator ksiązki', value: 'libraryBookId' },
                { text: 'Dostępność', value: 'status' },
                { text: 'Actions', value: 'actions', sortable: false, align: 'center' }
            ],
            books: [],
            borrowItem: {
                borrowDate: '',
                clientId: '',
                bookId: ''

            },
            users: [
                { id:''},
                { name: '' },
                { surname: ''},
                { email: ''}],
            userItem :{
                id:'',
                name:'',
                surname:'',
                email:'',
            },
            editedIndex: -1,
            editedItem: {
                id:'',
                author: '',
                authorisationDate: '',
                category: '',
                libraryBookId: '',
                status: '',
                title: ''

            },
            defaultItem: {
                id:'',
                author: '',
                authorisationDate: '',
                category: '',
                libraryBookId: '',
                status: '',
                title: ''
            }

        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj ksiązkę' : 'Edytuj książkę'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()

        },

        methods: {
            async initialize() {

                axios.get(BASE_URL + '/api/books/all',).then(Response => {
                    var data = Object.values(Response.data)
                    this.books = data;
                });

                axios.get(BASE_URL + '/api/books/categories',).then(Response => {
                    var data = Object.values(Response.data)
                    this.selectCategories = data;
                });
            },

           async borrowBook(item) {

                this.editedIndex = this.books.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.borrowDialog = true

               await axios.get(BASE_URL + '/api/users/all',).then(Response => {
                    var data = Object.values(Response.data)
                   this.users = data;
                });

                this.setUsersForPick();
            },

            async setBorrow(userId, bookId){
                if(!(userId == '')) {
                    console.log(userId)
                    this.editedItem.status = false;
                    this.borrowItem.clientId = this.getUserIdByFullname(userId)
                    this.borrowItem.bookId = this.editedItem.id
                    this.borrowItem.borrowDate = new Date().toISOString().substring(0, 10);
                    await axios.post(BASE_URL + '/api/borrows/create', this.borrowItem).then(Response => {
                        var data = Object.values(Response.data)
                    });


                    await axios.patch(BASE_URL + '/api/books/update', this.editedItem).then(Response => {
                        var data = Object.values(Response.data)
                    });

                    this.borrowDialog = false;
                    this.initialize();
                }
            },

            editItem(item) {
                this.editedIndex = this.books.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.books.indexOf(item)
                if (confirm('Czy jesteś pewien, że chcesz usunąć ten przedmiot?') && this.books.splice(index, 1)) {
                    axios.delete(BASE_URL + '/api/books/remove/' + item.id,).then(Response => {
                        var data = Object.values(Response.data)
                    })
                }
            },

            close() {
                this.dialog = false
                this.borrowDialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.books[this.editedIndex], this.editedItem)
                    await axios.patch(BASE_URL + '/api/books/update', this.editedItem).then(Response => {
                        var data = Object.values(Response.data)


                    });
                } else {
                    this.books.push(this.editedItem)
                    this.editedItem.status = true;
                    await axios.post(BASE_URL + '/api/books/create', this.editedItem).then(Response => {
                        var data = Object.values(Response.data)
                    });

                }
                this.close()
            },

            toDate(timeStamp) {
                var currentDate = new Date(timeStamp);

                var year = currentDate.getFullYear();

                var dateString = year;
                return dateString;
            },

            toTimeStamp(stringDate) {
                var date = new Date(stringDate)
                return date.getTime() / 1000

            },

            // userIdToFullname(id) {
            //     for (var i = 0; i < this.users.length; i++) {
            //         if (id === this.users[i].id) {
            //             return this.users[i].name + ' ' + this.users[i].surname
            //         }
            //
            //     }
            // },

            setUsersForPick() {

                for (var i = 0; i < this.users.length; i++) {
                    this.selectUser.push(this.users[i].name + ' ' + this.users[i].surname + ' ' + this.users[i].email)
                }
            },

            getUserIdByFullname(fullname) {
                for (var i = 0; i < this.users.length; i++) {
                    if (fullname === this.users[i].name + ' ' + this.users[i].surname + ' ' + this.users[i].email) {
                        return this.users[i].id
                    }
                }


            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



