<template>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Klienci</v-toolbar-title>
                    <v-divider
                            class="mx-2"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialogBorrows" max-width="600px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">Lista akutalnie wypożyczonych ksiązek</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-list two-line>
                                            <template v-for="(item, index) in books">
                                                <v-list-tile
                                                        :key="item.id"
                                                        avatar
                                                        ripple
                                                >
                                                    <v-flex xs12 sm6 md12>
                                                        <v-list-tile-content>
                                                            <v-list-tile-title>{{ item[1] }}</v-list-tile-title>
                                                            <v-list-tile-title>{{item[2] +' '+ item[5] }}</v-list-tile-title>

                                                        </v-list-tile-content>
                                                    </v-flex>
                                                    <v-spacer></v-spacer>
                                                    <v-flex xs12 sm6 md12>
                                                        <v-btn @click="deleteBorrow(item)" color="green" dark>Zwrócono
                                                            <v-icon
                                                                    medium
                                                                    color="white"
                                                            >
                                                            </v-icon>
                                                        </v-btn>
                                                    </v-flex>
                                                </v-list-tile>
                                                <v-divider
                                                        v-if="index + 1 < item.length"
                                                        :key="index"
                                                ></v-divider>
                                            </template>
                                        </v-list>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>



                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    label="Search"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-btn color="green" dark class="mb-2" v-on="on">Dodaj klienta</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.name" label="Imie"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.surname" label="Nazwisko"></v-text-field>
                                        </v-flex>
                                        <v-flex  xs12 sm6 md4>
                                            <v-text-field v-model="editedItem.pesel" label="Pesel"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :items="clients"
                        class="elevation-1"
                >
                    <template v-slot:items="props" >
                        <td @click="editItem(props.item)" class="text-xs-left">{{ props.item.email }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.name }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.surname }}</td>
                        <td @click="editItem(props.item)"class="text-xs-left">{{ props.item.pesel }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn @click="printActiveBorrows(props.item)" color="green" dark>Aktualnie wypożyczone
                                <v-icon
                                        medium
                                        color="white"
                                >
                                </v-icon>
                            </v-btn>
                            <v-btn @click="editItem(props.item)" color="green" dark>
                                <v-icon
                                        medium
                                        @click="deleteItem(props.item)"
                                >
                                    delete
                                </v-icon>
                            </v-btn>

                        </td>
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="green" @click="initialize">Refresh</v-btn>
                    </template>
                </v-data-table>
            </div>
        </v-app>
    </div>
</template>

<script>
    import axios from 'axios'
    import { BASE_URL } from '../../constants';

    export default {
        data: () => ({
            dialog: false,
            search: '',
            modal: false,
            selectUser: [],
            headers: [
                { text: 'Email', value: 'mail' },
                { text: 'Imię', value: 'name' },
                { text: 'Nazwisko', value: 'surname' },
                { text: 'Pesel', value: 'pesel' },
                { text: 'Actions', value: 'actions', sortable: false, align: 'center' }
            ],
            clients: [],
            clientBorrows: [{
                id: '',
                borrowDate: '',
                bookId: '',
                informations: '',
            }],
            books: [{
                id:'',
                author: '',
                title: '',
                category: '',
                authorisationDate: '',
                libraryBookId: '',
                status: '',

            }],
            bookItem: {
                id:'',
                author: '',
                title: '',
                category: '',
                authorisationDate: '',
                libraryBookId: '',
                status: '',


            },

            dialogBorrows: false,
            editedIndex: -1,
            editedItem: {
                id: '',
                email: '',
                name: '',
                pesel: '',
                surname: ''

            },
            defaultItem: {
                id: '',
                email: '',
                name: '',
                pesel: '',
                surname: ''
            }

        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Dodaj klienta' : 'Edytuj klienta'

            },
            actionType()
            {
                return this.editedIndex !== -1
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            async initialize() {

                axios.get(BASE_URL + '/api/users/all',).then(Response => {
                    var data = Object.values(Response.data)
                    this.clients = data;
                });
            },

            async printActiveBorrows(item) {
                this.editedIndex = this.clients.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogBorrows = true

                const tab = [];

                await axios.get(BASE_URL+ '/api/borrows/userId/' + this.editedItem.id).then(Response => {
                    var data = Object.values(Response.data)
                    this.clientBorrows = data;
                });


                for(var i=0;i<this.clientBorrows.length;i++)
                {
                    console.log(this.clientBorrows)
                    await axios.get(BASE_URL+'/api/books/id/' + this.clientBorrows[i].bookId).then(Response => {
                        var data = Object.values(Response.data)
                        tab.push(data);
                    });
                }

                this.books=tab;
                console.log(this.books)


            },


            async deleteBorrow(item) {

                this.dialogBorrows = false;

                this.bookItem.id = item[0]
                this.bookItem.author = item[1]
                this.bookItem.title= item[2]
                this.bookItem.category = item[3]
                this.bookItem.authorisationDate=item[4]
                this.bookItem.libraryBookId=item[5]
                this.bookItem.status=true


                console.log(this.bookItem)

                await axios.delete(BASE_URL+ '/api/borrows/removeByBookId/' + this.bookItem.id,).then(Response => {
                    var data = Object.values(Response.data)
                });

                this.bookItem.status = true;
                await axios.patch(BASE_URL + '/api/books/update', this.bookItem).then(Response => {
                    var data = Object.values(Response.data)

                });
            },

            editItem (item) {
                this.editedIndex = this.clients.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.editedItem.birthdate=this.toDate(this.editedItem.birthdate)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.clients.indexOf(item)
                if(confirm('Czy jesteś pewien, że chcesz usunąć ten przedmiot?') && this.clients.splice(index, 1)) {
                    axios.delete(BASE_URL+'api/users/remove/' + item.id, ).then(Response => {
                        var data = Object.values(Response.data)
                    })
                }
            },

            close () {
                this.dialog = false
                this.dialogBorrows = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem),

                        this.editedIndex = -1
                }, 300)
            },

            async save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.clients[this.editedIndex], this.editedItem)
                    await axios.patch(BASE_URL+ '/api/users/update', this.editedItem).then(Response => {
                        var data = Object.values(Response.data)


                    });
                } else {
                    this.clients.push(this.editedItem)
                    await axios.post(BASE_URL +'/api/users/create', this.editedItem).then(Response => {
                        var data = Object.values(Response.data)
                    });

                }
                this.close()
            },

            toDate (timeStamp){
                var currentDate = new Date(timeStamp*1000);

                var date = currentDate.getDate();
                var month = currentDate.getMonth(); //Be careful! January is 0 not 1
                var year = currentDate.getFullYear();

                var dateString = year + "-" +(month + 1) + "-" + date;
                return dateString;
            },

            toTimeStamp(stringDate){
                var date = new Date(stringDate)
                return date.getTime()/1000

            }

        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>



