<template>
  <v-app id="inspire">
    <div>
      <v-img
              :src="require('@/assets/library2.jpg')"
              max-height="450"
      ></v-img>


    </div>

  </v-app>
</template>

<script>
// @ is an alias to /src
import Component from '@/views/Home.vue'

export default {

  name: 'home',
  components: {
    Component
  }
}
</script>
